@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather:ital,wght@1,300&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Merriweather, sans-serif;

}

h1, h2 {
    font-family: Audiowide;
}

.navstyle {
    background-color: black;
    height: 60px;
    align-items: center;
     
}




.navflex ul {
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: center;
    justify-content: space-between;
}

.button {
    background-color: #f6e710;
    border-width: 3px;
    border-style: solid;
    border-color: #f5d10d;
    padding: 0;
    border-radius: 5px;
    color: #020202;
    text-decoration: none;
    font-family: Audiowide;
}

.button:hover {
    background-color: #020202;
    color: #f5d10d;
    
}






