@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather:ital,wght@1,300&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: Merriweather, sans-serif;
    text-align: center;
   

}

h1, h2 {
    font-family: Audiowide;
}

/*navigation position and style*/


.nav-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}


    .button {
    background-color: #f6e710;
    border-width: 3px;
    border-style: solid;
    border-color: #f5d10d;
    padding: 0;
    border-radius: 5px;
    color: #020202;
    text-decoration: none;
    font-family: Audiowide;
    
}

.btn-box {
    font-family: Audiowide;
}

.button:hover {
    background-color: #020202;
    color: #f6e710;
}
/* validated css here and no errors found */


/* hero image */

#hero-outer {
    min-height: 450px;
    color: #ffffff;
    text-align: center;

}

#hero-outer .hero-image {
    position: absolute;
    background: url('../images/music-sheet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    border-radius: 40px;
}

#hero-outer h1 {
    margin-top: 0;
    padding-top: 100px;
}

.content {
    color: #f6e710;
    text-shadow: 3px 3px #020202;
    font-size: larger;
    font-family: Audiowide;
    
}

.content p {
    color: #f6e710;
    text-shadow: 2px 2px #020202;
    font-weight: bold;
    padding: 50px;
    
}

/* section 1 */


.flex {
    display: flex;
    flex-direction: column;
}

.about h2 {
    color: #f6e710;
    text-shadow: 3px 3px #020202;
    font-size: xx-large

}

.about p {
    color: #f6e710;
    padding: 20px 40px;
    font-size: 20px;
    
}
.instrument-image {
    position: relative;
}

.instrument-image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    
    
}
.instrument-image h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 120px;
    color: #f6e710;
    text-shadow: 2px 2px #020202;
    font-family: Audiowide; 
    font-size: 20px;   
}

.instrument-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    color: #f6e710;
    text-shadow: 2px 2px #020202;
    font-family: Audiowide; 
    font-size: 20px;   
}

/* section 2 */


.quote-content {
    color: #f6e710;
    border-radius: 40px;
    padding:0;
    text-align: center;
}
.image-part2 {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 40px;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
   
    
}
/* validated css here and no errors found */

/* opening times and contact*/


#part-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    
  
   
    
}

.opening-times {
    height: 250px;
    flex: 1;
    border: 2px solid #f6e710;
    border-radius: 40px;
    margin-top: 50px;
   
   
    
}

.contact {
    background-color: #f6e710;
    height: 250px;
    flex: 1;
    border-radius: 40px;
    margin-top: 50px;
   

}

.contact h3 {
    font-family: Audiowide;
    color: #020202;
    padding-top: 20px;
}

.opening-times table {
    color: #f6e710;
    margin: 0 auto;
   

}

.opening-times h3 {
    color: #f6e710;
    padding: 0;
    font-family: Audiowide;
   
}



   
.contact table {
    color: #020202;
    margin: 0 auto;
    padding-bottom:  40px;
}

/* footer */

.social-links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.social-links a {
    background-color: #f6e710;
    border-width: 3px;
    border-style: solid;
    border-color: #f5d10d;
    padding: 0;
    border-radius: 5px;
    color: #020202;
    text-decoration: none;
    font-family: Audiowide;
}

.social-links a:hover {
    background-color: #020202;
    color: #f6e710;
}

.footer h3  {
   text-align: center;
   color: #f6e710;
}

.footer p {
    text-align: left;
    color: #f6e710;
}



/* no errors found with W3c school validater */



/* courses page css */

.drums {
    display: flex;

}




.guitar {
    display: flex;
}


.piano {
    display: flex;
}
   

.violin {
    display: flex;
}






